01 

"뉴딜" 문자열을 화면에 출력하는 print_new() 함수를 정의하라.

In [1]:
def print_new():
    print("뉴딜")

02

01번에서 정의한 함수를 호출하라.

In [2]:
print_new()

뉴딜

03

01번에서 정의한 print_new 함수를 100번호출하라.

In [4]:
for i in range(100):
    print_new()

뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜
뉴딜

04

"뉴딜" 문자열을 100번 화면에 출력하는 new_prints() 함수를 정의하라.

In [5]:
def new_prints():
    for i in range(100):
        print_new()

05

아래의 에러가 발생하는 이유에 대해 설명하라.

```
hello()
def hello():
    print("Hi")
```

실행 예
```
NameError: name 'hello' is not defined
```

In [6]:
# 호출부가 선언부보다 위에 있음

06

아래 코드의 실행 결과를 예측하라.

```
def message() :
    print("A")
    print("B")

message()
print("C")
message()
```

In [7]:
def message() :
    print("A")
    print("B")

message()
print("C")
message()

A
B
C
A
B

07

아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)

```
print("A")

def message() :
    print("B")

print("C")
message()
```

In [8]:
print("A")

def message() :
    print("B")

print("C")
message()

A
C
B

08

아래 코드의 실행 결과를 예측하라. (읽기 어려운 코드의 예입니다.)
```
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()
```

In [9]:
print("A")
def message1() :
    print("B")
print("C")
def message2() :
    print("D")
message1()
print("E")
message2()

A
C
B
E
D

09

아래 코드의 실행 결과를 예측하라.

```
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()
```

In [10]:
def message1():
    print("A")

def message2():
    print("B")
    message1()

message2()

B
A

10

아래 코드의 실행 결과를 예측하라.

```
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

```

In [11]:
def message1():
    print("A")

def message2():
    print("B")

def message3():
    for i in range (3) :
        message2()
        print("C")
    message1()

message3()

B
C
B
C
B
C
A

11


함수의 호출 결과를 예측하라.
```
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")
```

In [12]:
def 함수(문자열) :
    print(문자열)

함수("안녕")
함수("Hi")

안녕
Hi

12

함수의 호출 결과를 예측하라.

```
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)
```

In [13]:
def 함수(a, b) :
    print(a + b)

함수(3, 4)
함수(7, 8)

7
15

13

아래와 같은 에러가 발생하는 원인을 설명하라.

```
def 함수(문자열) :
    print(문자열)

함수()
```

```
TypeError: 함수() missing 1 required positional argument: '문자열'
```

In [14]:
# 선언한 위치 인수가 인자로 들어가지않음

14

아래와 같은 에러가 발생하는 원인을 설명하라.
```
def 함수(a, b) :
    print(a + b)

함수("안녕", 3)
```

In [15]:
def 함수(a, b) :
    print(a + b)

함수("안녕", 3)

TypeError: can only concatenate str (not "int") to str

15

하나의 문자를 입력받아 문자열 끝에 ":D" 스마일 문자열을 이어 붙여 출력하는 print_with_smile 함수를 정의하라.

In [16]:
def print_with_smile(s):
    print(s, end=":D")

16

15에서 정의한 함수를 호출하라. 파라미터는 "안녕하세요"로 입력하라.

In [17]:
print_with_smile("안녕하세요")

안녕하세요:D

17

현재 가격을 입력 받아 상한가 (30%)를 출력하는 print_upper_price 함수를 정의하라.

In [18]:
def print_upper_price(current_price):
    return current_price * 1.3

18

두 개의 숫자를 입력받아 두 수의 합을 출력하는 print_sum 함수를 정의하라.

In [19]:
def print_sum(a, b):
    return a + b

19

두 개의 숫자를 입력받아 합/차/곱/나눗셈을 출력하는 print_arithmetic_operation 함수를 작성하라.

In [22]:
def print_arithmetic_operation(num1, num2):
    return (
        num1 + num2,
        num1 - num2,
        num1 * num2,
        num1 / num2 if num2 != 0 else None
    )
#     # 덧셈
#     addition = num1 + num2
#     print("덧셈:", addition)

#     # 뺄셈
#     subtraction = num1 - num2
#     print("뺄셈:", subtraction)

#     # 곱셈
#     multiplication = num1 * num2
#     print("곱셈:", multiplication)

#     # 나눗셈
#     if num2 != 0:
#         division = num1 / num2
#         print("나눗셈:", division)
#     else:
#         print("0으로 나눌 수 없습니다.")

(12, 8, 20, 5.0)

20

세 개의 숫자를 입력받아 가장 큰수를 출력하는 print_max 함수를 정의하라. 단 if 문을 사용해서 수를 비교하라.

In [26]:
# def print_max(num1, num2, num3):
#     max_num = num1

#     if num2 > max_num:
#         max_num = num2

#     if num3 > max_num:
#         max_num = num3

#     print("가장 큰 수:", max_num)

    
# def print_max(num1, num2, num3):
#     max_num = max(num1, num2, num3)
#     print("가장 큰 수:", max_num)
    
print_max(1,2,5)

가장 큰 수: 5

21

입력된 문자열을 역순으로 출력하는 print_reverse 함수를 정의하라.

```
print_reverse("python")
```

```
nohtyp
```

In [27]:
def print_reverse(s):
    return s[::-1]

print_reverse("python")

'nohtyp'

22

성적 리스트를 입력 받아 평균을 출력하는 print_score 함수를 정의하라.
```
print_score ([1, 2, 3])
```
```
2.0
```

In [29]:
def print_score(scores):
    return sum(scores) / len(scores)

print_score([1,2,3])

2.0

23

하나의 리스트를 입력받아 짝수만 화면에 출력하는 print_even 함수를 정의하라.
```
print_even ([1, 3, 2, 10, 12, 11, 15])
```
```
2
10
12
```

In [30]:
def print_even(numbers):
    for num in numbers:
        if num % 2 == 0:
            print(num)
            
print_even([1,3,2,10,12,11,15])

2
10
12

24

하나의 딕셔너리를 입력받아 딕셔너리의 key 값을 화면에 출력하는 print_keys 함수를 정의하라.

```
print_keys ({"이름":"김말똥", "나이":30, "성별":0})
```

```
이름
나이
성별
```

27

연봉을 입력받아 월급을 계산하는 calc_monthly_salary(annual_salary) 함수를 정의하라. 회사는 연봉을 12개월로 나누어 분할 지급하며, 

이 때 1원 미만은 버림한다.

```
calc_monthly_salary(12000000)
```
```
1000000
```

In [34]:
def calc_monthly_salary(annual_salary):
    monthly_salary = int(annual_salary / 12)
    return monthly_salary

calc_monthly_salary(12000000)

1000000

28

아래 코드의 실행 결과를 예측하라.

```
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)

```
my_print(a=100, b=200)

In [35]:
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)
my_print(a=100, b=200)

왼쪽: 100
오른쪽: 200

29

아래 코드의 실행 결과를 예측하라.

```
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)
```
```
my_print(b=100, a=200)
```

In [36]:
def my_print (a, b) :
    print("왼쪽:", a)
    print("오른쪽:", b)
my_print(b=100, a=200)

왼쪽: 200
오른쪽: 100

30

아래 코드를 실행한 결과를 예상하라.

```
def n_plus_1 (n) :
    result = n + 1
```
```
n_plus_1(3)
print (result)
```

In [37]:
def n_plus_1 (n) :
    result = n + 1
n_plus_1(3)
print (result)

NameError: name 'result' is not defined

31

문자열 하나를 입력받아 인터넷 주소를 반환하는 make_url 함수를 정의하라.
```
make_url("naver")
```
```
www.naver.com
```

In [41]:
def make_url(string):
    url = "www." + string + ".com"
    return url

make_url("naver")

'www.naver.com'

32

문자열을 입력받아 각 문자들로 구성된 리스트로 반환하는 make_list 함수를 정의하라.

```
make_list("abcd")
```
```
['a', 'b', 'c', 'd']
```

In [42]:
def make_list(string):
    char_list = list(string)
    return char_list

make_list(['a', 'b', 'c', 'd'])

['a', 'b', 'c', 'd']

33

숫자로 구성된 하나의 리스트를 입력받아, 짝수들을 추출하여 리스트로 반환하는 pickup_even 함수를 구현하라.

```
pickup_even([3, 4, 5, 6, 7, 8])
```
```
[4, 6, 8]
```

In [52]:
def pickup_even(numbers):
    even_list = []
    for num in numbers:
        if num % 2 == 0:
            even_list.append(num)
    return even_list

print_even([3,4,5,6,7,8])

4
6
8

34

콤마가 포함된 문자열 숫자를 입력받아 정수로 변환하는 convert_int 함수를 정의하라.

```
convert_int("1,234,567")
```
```
1234567
```

In [54]:
def convert_int(string_number):
    integer_number = int(string_number.replace(',', ''))
    return integer_number

convert_int('1,234,567')

1234567

35

아래 코드의 실행 결과를 예측하라.

```
def 함수(num) :
    return num + 4


a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)
```

In [55]:
def 함수(num) :
    return num + 4


a = 함수(10)
b = 함수(a)
c = 함수(b)
print(c)

22

36

아래 코드의 실행 결과를 예측하라.

```
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)
```

In [56]:
def 함수(num) :
    return num + 4

c = 함수(함수(함수(10)))
print(c)

22

37

아래 코드의 실행 결과를 예측하라.

```
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)
```

In [57]:
def 함수1(num) :
    return num + 4

def 함수2(num) :
    return num * 10

a = 함수1(10)
c = 함수2(a)
print(c)

140

38

아래 코드의 실행 결과를 예측하라.

```
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)
```

In [58]:
def 함수1(num) :
    return num + 4

def 함수2(num) :
    num = num + 2
    return 함수1(num)

c = 함수2(10)
print(c)

16

39
아래 코드의 실행 결과를 예측하라.

```
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)
```

In [59]:
def 함수0(num) :
    return num * 2

def 함수1(num) :
    return 함수0(num + 2)

def 함수2(num) :
    num = num + 10
    return 함수1(num)

c = 함수2(2)
print(c)

28