1. 타이타닉 데이터를 로드하라

2. 데이터의 상위 5개 행을 출력하라

3. 데이터의 행과 열의 갯수를 파악하라

4. 전체 컬럼을 출력하라

5. 6번째 컬럼명을 출력하라

6. 6번째 컬럼의 데이터 타입을 확인하라

7. 데이터셋의 인덱스 구성은 어떤가

8. 6번째 컬럼의 3번째 값은 무엇인가?

9. 제주 데이터를 로드하라. 컬럼이 한글이기에 적절한 처리해줘야함 (encoding='utf-8')

10. 데이터 마지막 3개 행을 출력하라

11. 수치형 변수를 가진 컬럼을 출력하라

12. 범주형 변수를 가진 컬럼을 출력하라

13. 각 컬럼의 결측치 숫자를 파악하라

14. info(): 각 컬럼의 데이터수, 데이터타입을 한번에 확인하라

15. describe(): 각 수치형 변수의 분포(사분위, 평균, 표준편차, 최대 , 최소)를 확인하라

16. 거주인구 컬럼의 값들을 출력하라

18. 읍면동명 컬럼의 유일값 갯수를 출력하라

19. 읍면동명 컬럼의 유일값을 모두 출력하라

20. 식당 데이터를 로드하라.

21. quantity컬럼 값이 3인 데이터를 추출하여 첫 5행을 출력하라

22. quantity컬럼 값이 3인 데이터를 추출하여 index를 0부터 정렬하고 첫 5행을 출력하라

23. quantity , item_price 두개의 컬럼으로 구성된 새로운 데이터 프레임을 정의하라

24. item_price 컬럼의 달러표시 문자를 제거하고 float 타입으로 저장하여 new_price 컬럼에 저장하라

25. new_price 컬럼이 5이하의 값을 가지는 데이터프레임을 추출하고, 전체 갯수를 구하여라

26. item_name명이 Chicken Salad Bowl 인 데이터 프레임을 추출하라고 index 값을 초기화 하여라

27. new_price값이 9 이하이고 item_name 값이 Chicken Salad Bowl 인 데이터 프레임을 추출하라

28. df의 new_price 컬럼 값에 따라 오름차순으로 정리하고 index를 초기화 하여라

29. df의 item_name 컬럼 값중 Chips 포함하는 경우의 데이터를 출력하라

30. df의 짝수번째 컬럼만을 포함하는 데이터프레임을 출력하라

31. df의 new_price 컬럼 값에 따라 내림차순으로 정리하고 index를 초기화 하여라

32. df의 item_name 컬럼 값이 Steak Salad 또는 Bowl 인 데이터를 인덱싱하라

33. df의 item_name 컬럼 값이 Steak Salad 또는 Bowl 인 데이터를 데이터 프레임화 한 후, item_name를 기준으로 중복행이 있으면 제거하되 첫번째 케이스만 남겨라   
use: drop_duplicates("컬럼")

34. df의 item_name 컬럼 값이 Steak Salad 또는 Bowl 인 데이터를 데이터 프레임화 한 후, item_name를 기준으로 중복행이 있으면 제거하되 마지막 케이스만 남겨라

35. df의 데이터 중 new_price값이 new_price값의 평균값 이상을 가지는 데이터들을 인덱싱하라

36. df의 데이터 중 item_name의 값이 Izze 데이터를 Fizzy Lizzy로 수정하라

37. df의 데이터 중 choice_description 값이 NaN 인 데이터의 갯수를 구하여라

38. df의 데이터 중 choice_description 값이 NaN 인 데이터를 NoData 값으로 대체하라(loc 이용)

39. df의 데이터 중 choice_description 값에 Black이 들어가는 경우를 인덱싱하라

41. df의 데이터 중 item_name 값이 N으로 시작하는 데이터를 모두 추출하라

42. df의 데이터 중 item_name 값의 단어갯수가 15개 이상인 데이터를 인덱싱하라

43. df의 데이터 중 new_price값이 lst에 해당하는 경우의 데이터 프레임을 구하고 그 갯수를 출력하라 lst =[1.69, 2.39, 3.39, 4.45, 9.25, 10.98, 11.75, 16.98]

44. 에어비앤비 데이터 로드

45. 데이터의 각 host_name의 빈도수를 구하고 host_name으로 정렬하여 상위 5개를 출력하라

46. 데이터의 각 host_name의 빈도수를 구하고 빈도수 기준 내림차순 정렬한 데이터 프레임을 만들어라. 빈도수 컬럼은 counts로 명명하라

47. neighbourhood_group의 값에 따른 neighbourhood컬럼 값의 갯수를 구하여라

48. neighbourhood_group의 값에 따른 neighbourhood컬럼 값 중 neighbourhood_group그룹의 최댓값들을 출력하라