In [1]:
temps = [28, 29, 30, 31, 32, 27, 34]

In [2]:
temps[1]

29

In [3]:
temps[3]

31

In [4]:
temps[4] = 29
temps

[28, 29, 30, 31, 29, 27, 34]

In [6]:
temps[7] = 23

IndexError: list assignment index out of range

In [7]:
len(temps)

7

In [8]:
for i in temps:
    print(i)

28
29
30
31
29
27
34

In [11]:
questions = ["name", "age"]
answers = ["홍길동", 22]

for q, a in zip(questions, answers):
    print(q, a)

name 홍길동
age 22

In [13]:
countries = ['한국', '중국', '일본']
capitals = ['서울', '베이징','도쿄']
populations = [100, 200, 300]

## 한국의 수도인 서울에는 100명의 인구가 거주중입니다.
for country, capital, population in zip(countries, capitals, populations):
    print(f'{country}의 수도인 {capital}에는 {population}명의 인구가 거주중입니다')

한국의 수도인 서울에는 100명의 인구가 거주중입니다
중국의 수도인 베이징에는 200명의 인구가 거주중입니다
일본의 수도인 도쿄에는 300명의 인구가 거주중입니다

In [14]:
heros = []

In [15]:
heros.append("아이언맨")

In [16]:
heros

['아이언맨']

In [17]:
heros.append("토르")
heros.append("헐크")

In [18]:
heros

['아이언맨', '토르', '헐크']

In [19]:
heros.insert(1, "스파이더맨")

In [20]:
heros

['아이언맨', '스파이더맨', '토르', '헐크']

In [21]:
heros.index("토르")

2

In [22]:
heros.index("캡틴 아메리카")

ValueError: '캡틴 아메리카' is not in list

In [23]:
if "캡틴 아메리카" in heros:
    print("캡틴 아메리카가 heros에 있음")

In [24]:
heros

['아이언맨', '스파이더맨', '토르', '헐크']

In [25]:
heros.pop(3)

'헐크'

In [26]:
heros

['아이언맨', '스파이더맨', '토르']

In [27]:
heros.remove("스파이더맨")

In [28]:
heros

['아이언맨', '토르']

In [29]:
heros.remove("배트맨")

ValueError: list.remove(x): x not in list

In [30]:
numbers = [123, 1234243, 325456546, 457245423, 431, 2435, 6547647, 32444]

In [31]:
max(numbers)

457245423

In [32]:
min(numbers)

123

In [34]:
sum(numbers)

790519292

In [35]:
numbers.reverse()

In [36]:
numbers

[32444, 6547647, 2435, 431, 457245423, 325456546, 1234243, 123]

In [37]:
numbers.sort()

In [38]:
numbers

[123, 431, 2435, 32444, 1234243, 6547647, 325456546, 457245423]

In [39]:
numbers.sort(reverse=True)

In [41]:
numbers

[457245423, 325456546, 6547647, 1234243, 32444, 2435, 431, 123]

In [42]:
sorted(numbers)

[123, 431, 2435, 32444, 1234243, 6547647, 325456546, 457245423]

In [45]:
data = ['A' ,'B', 'A', 'C', 'D', 'A', 'D', 'D', 'E']
data.count('E')

1

In [50]:
# 실습
scores = [94, 23, 42, 67, 88, 33, 57, 93, 99, 12]

#scores.sort()
#scores[-2]

#scores.sort(reverse=True)
#scores[1]

#scores.remove(max(scores))
#max(scores)

In [62]:
numbers = [1,2,3,4,5,6,7,8,9,10]

# [4,5,6]
numbers[3:6]

# [4,5,6,7,8,9,10]
numbers[3:10]
numbers[3:]

# [2,4,6,8,10]
numbers[1::2]

# 짝수를 'a'... 로 수정
numbers[1::2] = ['a', 'b', 'c', 'd', 'e']
numbers

# 홀수를 'A'... 로 수정
numbers[::2] = ['A', 'B', 'C', 'D', 'E']
numbers

['A', 'a', 'B', 'b', 'C', 'c', 'D', 'd', 'E', 'e']

In [70]:
numbers2 = list(range(1, 11))
numbers2

numbers3 = list(range(2, 101, 2))
numbers3

[2,
 4,
 6,
 8,
 10,
 12,
 14,
 16,
 18,
 20,
 22,
 24,
 26,
 28,
 30,
 32,
 34,
 36,
 38,
 40,
 42,
 44,
 46,
 48,
 50,
 52,
 54,
 56,
 58,
 60,
 62,
 64,
 66,
 68,
 70,
 72,
 74,
 76,
 78,
 80,
 82,
 84,
 86,
 88,
 90,
 92,
 94,
 96,
 98,
 100]

In [74]:
h = [
    [1,2,3],
    [4,5,6],
    [7,8,9]
]
h[2][0]

7

In [79]:
names = ["철수", "영희", "민지"]

for i, n in enumerate(names):
    print(f"{i}: {n}")

0: 철수
1: 영희
2: 민지

## tuple

In [107]:
a = ("apple",)
type(a)

tuple

In [82]:
fruits = ('apple', 'banana', 'grape')
fruits, type(fruits)

(('apple', 'banana', 'grape'), tuple)

In [83]:
fruits[0]

'apple'

In [84]:
fruits[0] = 'watermelon'

TypeError: 'tuple' object does not support item assignment

In [87]:
fruits_list = list(fruits)
fruits_list[0] = 'watermelon'
fruits = tuple(fruits_list)

In [88]:
fruits

('watermelon', 'banana', 'grape')

In [89]:
(a, b, c) = fruits
print(f"a: {a}")
print(f"b: {b}")
print(f"c: {c}")

a: watermelon
b: banana
c: grape

In [95]:
[a, b, c] = list(fruits)
print(a, b, c)

watermelon banana grape

## 세트

In [96]:
alice_hobby = {"축구", "농구", "야구"}
bob_hobby = {"배구","수영","농구"}

In [98]:
alice_hobby | bob_hobby

{'농구', '배구', '수영', '야구', '축구'}

In [99]:
alice_hobby.union(bob_hobby)

{'농구', '배구', '수영', '야구', '축구'}

In [100]:
alice_hobby & bob_hobby

{'농구'}

In [101]:
alice_hobby.intersection(bob_hobby)

{'농구'}

In [102]:
alice_hobby - bob_hobby

{'야구', '축구'}

In [104]:
alice_hobby.difference(bob_hobby)

{'야구', '축구'}

In [105]:
s = set(["A", "B", "C", "D", "A"])
s

{'A', 'B', 'C', 'D'}

## 딕셔너리

In [109]:
user = {}
user

{}

In [110]:
user = {
    "이름": "홍길동",
    "나이": 22,
    "성별": "남자",
    "기술": ["파이썬", "데이터베이스"],
    "군대": True
}
user

{'이름': '홍길동', '나이': 22, '성별': '남자', '기술': ['파이썬', '데이터베이스'], '군대': True}

In [111]:
user["이름"]

'홍길동'

In [113]:
user["기술"]

['파이썬', '데이터베이스']

In [114]:
user["체중"]

KeyError: '체중'

In [116]:
user.get("체중", "70kg")

'70kg'

In [117]:
user.get("이름", "아이언맨")

'홍길동'

In [118]:
user

{'이름': '홍길동', '나이': 22, '성별': '남자', '기술': ['파이썬', '데이터베이스'], '군대': True}

In [119]:
user["체중"] = "80kg"

In [120]:
user

{'이름': '홍길동',
 '나이': 22,
 '성별': '남자',
 '기술': ['파이썬', '데이터베이스'],
 '군대': True,
 '체중': '80kg'}

In [121]:
user.pop("성별")
user

{'이름': '홍길동', '나이': 22, '기술': ['파이썬', '데이터베이스'], '군대': True, '체중': '80kg'}

In [122]:
user.pop("키") # if "키" in user

KeyError: '키'

In [123]:
user

{'이름': '홍길동', '나이': 22, '기술': ['파이썬', '데이터베이스'], '군대': True, '체중': '80kg'}

In [124]:
for key in user:
    print(key)

이름
나이
기술
군대
체중

In [125]:
user.keys()

dict_keys(['이름', '나이', '기술', '군대', '체중'])

In [126]:
user.values()

dict_values(['홍길동', 22, ['파이썬', '데이터베이스'], True, '80kg'])

In [129]:
for k, v in user.items():
    print(f"k: {k}, v: {v}")

k: 이름, v: 홍길동
k: 나이, v: 22
k: 기술, v: ['파이썬', '데이터베이스']
k: 군대, v: True
k: 체중, v: 80kg