## 조건문
```
if 조건식1:
   #실행로직1
elif 조건식2:
   #실행로직2
else:
   #실행로직3
```

In [6]:
money = 17000

if money > 15000:
    print("택시타자")
else:
    print("버스타자")

택시타자

# 실습
'''
- 사용자에게 출생년도입력
 
 ~1924 가장 위대한 세대
 1925~1945 침묵세대
 1946~1964 베이비붐 세대
 1965~1980 X 세대
 1981~1996 밀레니얼 세대
 1997 ~ Z 세대
 
출력
 - 나는 {}년에 태어나 {} 세대에 속합니다
'''

In [12]:
year = int(input("출생년도를 입력해주세요: "))

generation = ""

if year <= 1924:
    generation = "가장 위대한 세대"
elif 1925 <= year <= 1945:
    generation = "침묵세대"
elif 1946 <= year <= 1964:
    generation = "베이비붐 세대"
elif 1965 <= year <= 1980:
    generation = "X 세대"
elif 1981 <= year <= 1996:
    generation = "밀레니얼 세대"
elif 1997 <= year:
    generation = "Z 세대"
    
print(f"나는 {year}년에 태어나 {generation}에 속합니다. ")

출생년도를 입력해주세요: 1988
나는 1988년에 태어나 밀레니얼 세대에 속합니다.

In [13]:
# 실습

# - 상품 금액 및 결제 카드를 입력
# - 상품 금액이 20000 초과이고 현대 카드이면 배송비 3000
# - 상품 금액이 50000 초과이거나 신한 카드이면 배송비 2000
# - 그 외 배송비 5000
# - 최종적으로 상품 금액과 전체 결제 금액 출력

In [18]:
price = int(input("상품 가격 입력:"))
card = input("결제 카드 입력:")

total = price

if price > 20000 and card == "현대":
    total += 3000
elif price > 50000 or card == "신한":
    total += 2000
else:
    total += 5000
    
print(f"{price}, {total}")

상품 가격 입력:10000
결제 카드 입력:롯데
10000, 15000

In [19]:
# 실습 (윤년 판단)

# - 연도 입력 받기
# - 윤년은 4로 나누어 떨어지는 해 중에서 100으로 나누어 떨어지지않거나 
# - 400으로 나누어 떨어지는 해 입니다.

# - 출력 
#연도를 입력하세요: 2001
#2001년은 윤년이 아닙니다.

In [23]:
year = int(input("연도를 입력하세요: "))

if (year % 4 == 0 and year % 100 != 0) or year % 400 == 0:
    print(f"{year}는 윤년이다")
else:
    print(f"{year}는 윤년아니다")

연도를 입력하세요: 2001
2001는 윤년아니다

# 반복문

- 횟수 for문

for [] in []:
   // 실행로직
   
- 조건 while문

while 조건문:
  // 실행로직

In [25]:
for i in range(1, 11):
    print(i * 2)

2
4
6
8
10
12
14
16
18
20

In [26]:
data = ["A", "B", "C", "D"]

for d in data:
    print(d)

A
B
C
D

In [27]:
# 실습

# 구구단
# - 몇단을 입력받고
# - 구구단 진행

In [29]:
num = int(input("구구단을 외자~ 몇단?"))

for i in range(1, 10):
    print(f"{num} x {i} = {num * i}")

구구단을 외자~ 몇단?17
17 x 1 = 17
17 x 2 = 34
17 x 3 = 51
17 x 4 = 68
17 x 5 = 85
17 x 6 = 102
17 x 7 = 119
17 x 8 = 136
17 x 9 = 153

In [1]:
num = int(input("구구단을 외자~ 몇단?"))

#i = 1

#while i < 10:
#    print(f"{num} * {i} = {num*i}")
#    i += 1
 
i = 0
while True:
    i += 1
    if i == 10:
        break

    if i == 5:
        continue
        
    print(f"{num} * {i} = {num*i}")

구구단을 외자~ 몇단?3
3 * 1 = 3
3 * 2 = 6
3 * 3 = 9
3 * 4 = 12
3 * 6 = 18
3 * 7 = 21
3 * 8 = 24
3 * 9 = 27

In [6]:
# 1부터 100까지 3의 배수의 합

# sum(list(range(3, 101, 3)))

sum3 = 0

for n in range(1, 101):
    if n % 3 == 0:
        sum3 += n
        
sum3

1683

In [7]:
#  1 또는 2 입력받고

# 0 이면 아무것도 출력하지않고 중단
# 1 이면 '성공' 출력하고 계속(다시 입력받기)
# 2 이면 계속(다시 입력받기)

In [8]:

while True:
    n = int(input("숫자 골라요"))
    
    if n == 0:
        break
    
    elif n == 1:
        print("성공")
    
    elif n == 2:
        continue

숫자 골라요2
숫자 골라요1
성공
숫자 골라요0

In [9]:
*a, d = ('a', 'b', 'c', 'd')
a

['a', 'b', 'c']

In [17]:
a, b, *c = ('가', '나', '다','라', '미')

'가'